#################################
# Environment & Secrets
#################################
.env
*.env

#################################
# Python
#################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyd
*.so

# compiled python files
*.cache
*.dylib

#################################
# Virtual Environments
#################################
.venv/
venv/
env/

#################################
# Project Data & Logs
#################################
data/
logs/

#################################
# IDE / Editor Files
#################################
.vscode/
.idea/

#################################
# MacOS system files
#################################
.DS_Store
.AppleDouble
.LSOverride

#################################
# PyCharm
#################################
*.iml

#################################
# Byte-compiled pickle files
#################################
*.pkl

#################################
# Optional: Notebooks
#################################
*.ipynb_checkpoints

